body
{
  color: white;
  background: #c0d3ff;
  font-family: 'Josefin Sans', sans-serif;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name
{
  color:green;
  margin-top: 100px;
  margin-left:100px ;

}
.gesture_name
{
  font-size: 40px;
}
.gesture
{
  font-size:48px;
}
